{% extends "base.html" %}

{% block contenido %}

{% if nvotaciones > 0 %}
    <h2 style="text-align: center">Hay {{ nvotaciones }} votación activa</h2>
    <hr>
{% elif nvotaciones %}
    <h2 style="text-align: center">Hay {{ nvotaciones }} votaciones activas</h2>
    <hr>
{% endif %}

{%  for votacion in votaciones %}
    <div class="votacion">
        <h1  style="text-align: center"> <a href="/votacion/{{ votacion.pk }}">{{  votacion.titulo }}</a></h1>
        <div class="row-fluid">
            <div class="span6">
                <a class="btn btn-large btn-block btn-primary" type="button" href="/votar/{{ votacion.pk }}/1">Si</a>
            </div>
            <div class="span6">
                <a class="btn btn-large btn-block btn-danger" type="button" href="/votar/{{ votacion.pk }}/0">No</a>
            </div>
        </div>
    </div>
    <hr>
{%  endfor %}

{% endblock %}
